* {
	margin: 0;
	padding: 0;
}

.header {
	margin-top: 100px;
	text-align: center;
	margin-bottom: 30px;
}


.form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.form > form > input {
	height: 25px;
	width: 200px;
	border: 1px solid lightgray;
	padding: 4px;
	border-radius: 3px;
	margin: 10px;
}



.submit > input{
	height: 35px;
	width: 95%;
	border: 1px solid lightgray;
	padding: 4px;
	border-radius: 3px;
	margin: 10px;
}



.email {
	display: flex;
	flex-direction: column;
}

.email > input {
	height: 25px;
	width: 430px;
	border: 1px solid lightgray;
	padding: 4px;
	border-radius: 3px;
	margin: 10px;
}

.email > textarea {
	min-height: 25px;
	max-height: 150px;
	max-width: 430px;
	min-width: 430px;
	border: 1px solid lightgray;
	padding: 4px;
	border-radius: 3px;
	margin: 10px;
}

input:focus {
	outline: none;
}

textarea:focus {
	outline: none;
}