* {
	margin: 0;
	padding: 0;
}

.header {
	margin-top: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 30px;
}


.form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.form > form > input {
	height: 25px;
	width: 200px;
	border: 1px solid lightgray;
	padding: 4px;
	border-radius: 3px;
	margin: 10px;
}

input {
	font-size: 13px;
}

textarea {
	font-size: 13px;
}

.submit {
	margin-top: 10px;
}


.submit > a {
	height: 35px;
	border: 1px solid lightgray;
	padding: 4px;
	text-decoration: none;
	border-radius: 3px;
	margin: 10px;
	background: whitesmoke;
	color: black;
}


.email {
	display: flex;
	flex-direction: column;
}

.email > input {
	height: 25px;
	width: 430px;
	border: 1px solid lightgray;
	padding: 4px;
	border-radius: 3px;
	margin: 10px;
}

.email > textarea {
	min-height: 25px;
	max-height: 150px;
	max-width: 430px;
	min-width: 430px;
	border: 1px solid lightgray;
	padding: 4px;
	border-radius: 3px;
	margin: 10px;
}

input:focus {
	outline: none
}

textarea:focus {
	outline: none;
}