.modal-container {
	width: 33%;
	padding: 15px;
    border: 1px solid lightgray;
    box-shadow: -2px 0px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 10px;
    margin-left: 10px;
	background-color: white;
    z-index: 500;
    top: 40%;
    left: 32%;
    transition: .3s ease-out;
    position: fixed;

}

h4 {
    font-weight: 200;
}

.modal-header {
	display: flex;
}

.modal-header > span {
    margin-left: 90%;
    position: fixed;

}

.close-modal-btn {
	cursor: pointer;
	background: none;
	border: none;
	padding: 2px;
}


.modal-content > p > a {
    color: #0275d8;
}

.modal-links {
    display: flex;
    flex-direction: column;
}

@media (min-width: 601px) and (max-width: 768px) {
    .modal-container {
        width: 400px;
        padding: 15px;
        border: 1px solid lightgray;
        box-shadow: -2px 0px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        margin-left: 10px;
        background-color: white;
        z-index: 500;
        top: 40%;
        left: 20%;
        transition: .3s ease-out;
        position: fixed;
    
    }
    
  
    
}


@media (min-width: 320px) and (max-width: 600px) {
    .modal-container {
        width: 83.5%;
        padding: 15px;
        border: 1px solid lightgray;
        box-shadow: -2px 0px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        margin-left: 10px;
        background-color: white;
        z-index: 500;
        top: 30%;
        left: 4%;
        margin: auto;
        transition: .3s ease-out;
        position: fixed;
    
    }

    .modal-header > span {
        margin-left: 88%;
        position: fixed;
    
    }
    
  
    
}