@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');


html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  list-style-type: none;
  text-decoration: none;
}

.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
}


a {
  cursor: pointer;
}

.nav-bar {
  height: 70px;
  width: 100%;
  position: fixed;
  background: rgb(44, 44, 44);
  z-index: infinte;

}

.nav-bar .logo{
  margin-left: 30px;
  margin-top: 25px; 
  float: left;
}

.nav-bar .logo a{
  color: white;
}

.nav-bar ul{
  float: right;
  padding-top: 25px;
  margin-right: 10px;

}

.nav-bar ul li{
  display: inline;
  padding: 20px;
}

.nav-bar ul li a{
  text-decoration: none;
  color: white;
}

.nav-bar ul li a:hover {
  background-color: rgb(94, 94, 94);

}

.sidebar-icons {
  position: fixed;
  margin-top: 300px;
  padding-left: 20px;

}

.icons {
  font-size: 26px;
}

.icons > li > a:hover{
  font-size: 30px;
  transition: .3s;
}

#home {
  padding-top: 150px;
  height: 1200px;
  background-image: url('/img/bg1.jpg');
  background-repeat: no-repeat;
}

.name {
  float: left;
  padding-left: 250px;
}

.typewrite {
  float: left;
  padding-left: 250px;
  margin-top: 50px;

}

.arrow {
  bottom: 5%;
  left: 50%;
  position: absolute;
}

#about {
  height: 1100px;
  padding-top: 150px;
  text-align: left;
  padding-left: 150px;
  background-image: url('/img/bg4.jpg');
  background-repeat: no-repeat;

}

#about a{
  color: #0275d8;
}


#projects {
  height: 1350px;
  text-align: center;
}

.projects-header {
  padding-top: 150px;
  padding-bottom: 20px;
}

.all-projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 900px;
  margin: auto;
}


#projects .app {
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  overflow: visible;

}

#projects .app >  img {
  height: 250px;
  z-index: 100;
  cursor: pointer;
  object-fit: contain;
}

.ending {
  text-align: center;
  margin-top: 20px;
}


@media screen and (max-width: 856px) {
  .nav-bar ul li{
    display: inline;
    padding: 10px;

  }


  .nav-bar .logo {
    color: white;
    margin-left: 20px;
    margin-top: 25px; 
    float: left;

  }

  .name {
    padding-left: 70px;
  }

  .typewrite{
    padding-left: 70px;
    padding-right: 10px;

  }



  #about {
    padding-left: 70px;
    padding-right: 20px;
  }



  
}


@media screen and (max-width: 375px) {
  .nav-bar ul li{
    display: inline;
    padding: 10px;
    font-size: smaller;

  }


  .nav-bar .logo {
    color: white;
    margin-left: 20px;
    margin-top: 28px; 
    float: left;
    font-size: smaller;

  }

  .name {
    padding-left: 70px;
  }

  .typewrite{
    padding-left: 70px;
    padding-right: 15px;

  }

  #about {
    padding-left: 70px;
    padding-right: 30px;
  }



}

@media screen and (max-width: 351px) {
  .nav-bar ul li{
    display: inline;
    padding: 10px;
    font-size: small;

  }


  .nav-bar .logo {
    color: white;
    margin-left: 20px;
    margin-top: 28px; 
    float: left;
    font-size: small;

  }

  .name {
    padding-left: 70px;
  }

  .typewrite{
    padding-left: 70px;
    padding-right: 15px;

  }

  #about {
    padding-left: 70px;
    padding-right: 30px;
  }



  #projects .app {
    border: 1px solid black;
    border-radius: 10px;
    padding: 1%;
    margin: 20px;
  }
  
  #projects .app > a > img{
    height: 200px;
    object-fit: contain;
  }


}



@media screen and (max-width: 540px) {
  .nav-bar ul li{
    display: inline;
    padding: 10px;
  }


  .nav-bar .logo {
    color: white;
    margin-left: 20px;
    margin-top: 26px; 
    float: left;

  }

  .name {
    padding-left: 70px;
  }

  .typewrite{
    padding-left: 70px;
    padding-right: 15px;

  }

  #about {
    padding-left: 70px;
    padding-right: 30px;
  }
}

@media screen and (max-width: 280px) {
  .nav-bar ul li{
    display: inline;
    padding: 10px;
    font-size: x-small;

  }


  .nav-bar .logo {
    color: white;
    margin-left: 20px;
    margin-top: 32px; 
    float: left;
    font-size: x-small;

  }

  .name {
    padding-left: 70px;
  }

  .typewrite{
    padding-left: 70px;
    padding-right: 15px;

  }


  #about {
    padding-left: 70px;
    padding-right: 30px;
  }


  #projects .app {
    border: 1px solid black;
    border-radius: 10px;
    padding: 1%;
    margin: 20px;
  }
  
  #projects .app > a > img {
    height: 200px;
    object-fit: contain;
  }

}